fastapi==0.115.8
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.38
psycopg[binary]==3.2.5
pydantic==2.10.6
pydantic-settings==2.8.1
python-dotenv==1.0.1
alembic==1.14.1
structlog==25.1.0

celery[redis]==5.4.0
